.title {
  margin-bottom: 1.75rem;
  display: inline-block;
  position: relative;

  &:after {
    content: "";
    width: 40%;
    border-bottom: solid 6px #000;
    position: absolute;
    left: 0;
    bottom: -1rem;
    z-index: 1;
  }
}