.title-component {
  padding-top: 18px;
}

.title {
  margin-bottom: 2.75rem;
  display: inline-block;
  position: relative;

  &:after {
    content: "";
    width: 40%;
    max-width: 200px;
    border-bottom: solid 6px #000;
    position: absolute;
    left: 0;
    bottom: -1rem;
    z-index: 1;
  }
}