@import "./Mixins.scss";

.blended-learning {
  .tile {
    .title {
      font-size: 1.5rem;
      &::after {
        width: 0;
      }
    }
  }

  .title:not(.is-spaced) + .subtitle {
    margin-top: -1.1rem;
  }

  .is-4by3 {
    padding-top: 44%;

    @include breakpoint(xs) {
      overflow: hidden;
    }
  }

  .subtitle {
    display: block;
  }

  .blended-learning-img {
    height: auto !important;
  }
}