@import "./Mixins.scss";
.home-section {
  position: relative;
  margin: auto;

  @include breakpoint(xs) {
    padding: 0 24px;
  }

  @include breakpoint(md) {
    width: 1000px;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bio-img {
    img {
      float: right;
    }
  }

  .certs-section {
    @include breakpoint(sm) {
      padding: 0 24px;
    }
  }

  .certs-container {
    height: 200px;

    img {
      height: 100%;
    }
  }

  .icon-buttons {
    font-size: 8px;
  }

  .icon-button {
    border-radius: 3.6em;
    cursor: pointer;
    display: inline-block;
    font-size: 2em;
    height: 3.6em;
    line-height: 3.6em;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.6em;
  }

  .icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
  }

  .icon-button:hover span {
    width: 3.6em;
    height: 3.6em;
    border-radius: 3.6em;
    margin: -1.8em;
  }

  .twitter span {
    background-color: #4099ff;
  }

  .linkedin span {
    background-color: #0077b5;
  }

  .mail span {
    background-color: #d14836;
  }

  .icon-button svg {
    background: none;
    color: white;
    height: 2em;
    left: 0;
    right: 0;
    line-height: 2em;
    position: absolute;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 2em;
    z-index: 10;
    margin: auto;
  }

  .icon-button .icon-twitter {
    color: #4099ff;
  }

  .icon-button .icon-linkedin {
    color: #0077b5;
  }

  .icon-button .icon-mail {
    color: #d14836;
  }

  .icon-button:hover .icon-twitter,
  .icon-button:hover .icon-linkedin,
  .icon-button:hover .icon-mail {
    color: white;
  }
}
