@import "./Mixins.scss";

.recommendations-container {
  padding-bottom: 36px;
  
  .card {
    height: 100%;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);

    &:hover {
      box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.75);
    }
  }

  .card-content {
    .title {
      display: inline-block;
      font-size: 1.3rem;

      &:after {
        right: 0;
        left: auto;
        width: 45px;
      }
    }
  }

  .card-image {
    figure {
      overflow: hidden;
    }
  }

  .columns {
    flex-wrap: wrap;
  }

  .media-content {
    text-align: right;
  }

  .image {
    img {
      height: auto !important;
      width: auto !important;
      filter: blur(1px);
    }
  }
}
