@import './Mixins.scss';

.resume-container {
  padding: 0px 5%;

  .columns {
    flex-wrap: wrap;
  }

  .column {
    @include breakpoint(sm) {
      width: 80%;
    }
  }

  .resume-page-2 {
    @include breakpoint(sm) {
      top: 32px;
    }
  }
}